<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham-dark.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="static/db-front.js"></script>

<div id="count"></div>
<button onclick="nextQuery()">Next Page</button>
<div id="ag-grid" style="height: 600px;width:100%" class="ag-theme-balham-dark"></div>

